$bitter: "Bitter";
$poppins: "Poppins";
$inter: "Inter";
$white: #ffffff;
$semiWhite: rgb(255, 255, 255, 0.8);
$darkGreen: rgb(6, 18, 30, 0.3);
$lightGreen: #36dfae;

@function scaleXL($value, $ideal: 1920, $current: 100vw) {
  @return calc(#{$value} * (#{$current} / #{$ideal}));
}
