@import "../../styles//theme.scss";

.container {
  height: 100vh;
  width: #{scaleXL(1920)};
  background: #14162e;
  display: flex;
  align-items: center;
  article {
    display: flex;
    align-items: center;
    div {
      .title {
        margin-left: #{scaleXL(199)};
        width: #{scaleXL(461)};
        font-size: #{scaleXL(58)};
        font-family: $bitter;
        font-weight: 700;
        line-height: #{scaleXL(77)};
        color: $white;
      }
      .text {
        margin-top: #{scaleXL(77)};
        margin-left: #{scaleXL(199)};
        width: #{scaleXL(290)};
        font-size: #{scaleXL(23)};
        font-family: $poppins;
        font-weight: 500;
        line-height: #{scaleXL(28)};
        color: $white;
      }
    }
    .img {
      // margin-top: #{scaleXL(272)};
      height: #{scaleXL(449)};
      width: #{scaleXL(545)};
    }
    form {
      z-index: 1;
      margin-top: #{scaleXL(20)};
      margin-left: #{scaleXL(116)};
      .inputContainer {
        position: relative;
        height: fit-content;
        width: fit-content;
        input {
          margin-top: #{scaleXL(20)};
          padding-left: #{scaleXL(20)};
          padding-right: #{scaleXL(57)};
          height: #{scaleXL(60)};
          width: #{scaleXL(400)};
          background: $white;
          border-radius: #{scaleXL(10)};
          border: none;
          font-size: #{scaleXL(26)};
          font-family: $inter;
          font-weight: 400;
          line-height: #{scaleXL(24)};
          color: #667085;
        }
        .clearIcon {
          position: absolute;
          cursor: pointer;
          top: #{scaleXL(41)};
          right: #{scaleXL(20.5)};
          height: #{scaleXL(25.5)};
          width: #{scaleXL(24.5)};
          color: #667085;
        }
      }
      .title {
        margin-top: #{scaleXL(15)};
        margin-left: #{scaleXL(223)};
        font-size: #{scaleXL(18)};
        font-family: $poppins;
        font-weight: 500;
        color: #c7c7c7;
      }
      button {
        cursor: pointer;
        margin-top: #{scaleXL(90)};
        height: #{scaleXL(60)};
        width: #{scaleXL(400)};
        background: #4461f2;
        color: $white;
        font-family: $poppins;
        text-align: center;
        border: #{scaleXL(3)} solid #4461f2;
        border-radius: #{scaleXL(10)};
        font-size: #{scaleXL(24)};
        font-weight: 700;
        letter-spacing: 0.09em;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: $white;
          color: #4461f2;
        }
      }
    }
    .pink {
      position: fixed;
      top: #{scaleXL(191)};
      left: #{scaleXL(142)};
      height: #{scaleXL(226)};
      width: #{scaleXL(226)};
      background: #dda82a;
      opacity: 0.6;
      filter: blur(#{scaleXL(158.5)});
    }
    .bigPink {
      position: fixed;
      top: #{scaleXL(430)};
      right: #{scaleXL(142)};
      height: #{scaleXL(226)};
      width: #{scaleXL(226)};
      background: #dda82a;
      opacity: 0.6;
      filter: blur(#{scaleXL(158.5)});
    }
    .blue {
      position: fixed;
      top: #{scaleXL(457)};
      left: #{scaleXL(346)};
      height: #{scaleXL(226)};
      width: #{scaleXL(226)};
      background: #4461f2;
      opacity: 0.6;
      filter: blur(#{scaleXL(158.5)});
    }

    .bigBlue {
      position: fixed;
      top: #{scaleXL(257)};
      right: #{scaleXL(346)};
      height: #{scaleXL(226)};
      width: #{scaleXL(226)};
      background: #4461f2;
      opacity: 0.6;
      filter: blur(#{scaleXL(158.5)});
    }
  }
}
