@import "../styles/Theme.scss";
:root {
  --current-width: 100vw;
  --ideal-width: 1600;
}

.img {
  width: calc(150 * (var(--current-width) / var(--ideal-width)));
}

.activeLink {
  position: relative;
  color: $black;
  font-size: calc(16 * (var(--current-width) / var(--ideal-width)));
  font-weight: 600;
}

.activeLink::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 5px;
  height: 5px;
  background-color: $orange;
  border-radius: 50%;
}

.link {
  font-size: calc(16 * (var(--current-width) / var(--ideal-width))) !important;
  font-weight: 400;
  line-height: calc(24 * (var(--current-width) / var(--ideal-width)));
  color: $text-color;
}

.inputContainer {
  height: calc(39 * (var(--current-width) / var(--ideal-width)));
  border: 1px solid $transparent;
  padding-left: calc(30 * (var(--current-width) / var(--ideal-width)));
  border-radius: 3px;
}

.searchIcon {
  position: absolute;
  top: calc(9.5 * (var(--current-width) / var(--ideal-width)));
  left: calc(15 * (var(--current-width) / var(--ideal-width)));
  height: calc(20 * (var(--current-width) / var(--ideal-width)));
  font-size: calc(15 * (var(--current-width) / var(--ideal-width)));
  color: $text-color;
}

.input {
  height: calc(30 * (var(--current-width) / var(--ideal-width)));
  position: absolute;
  top: calc(1 * (var(--current-width) / var(--ideal-width)));
  bottom: 0;
  padding-left: calc(20 * (var(--current-width) / var(--ideal-width)));
  border: none;
  font-size: calc(16 * (var(--current-width) / var(--ideal-width)));
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.slashIcon {
  position: absolute;
  top: calc(3 * (var(--current-width) / var(--ideal-width)));
  right: calc(5 * (var(--current-width) / var(--ideal-width)));
  background-color: $transparent;
  height: calc(33 * (var(--current-width) / var(--ideal-width)));
  border-radius: 3px;
}

.bar {
  height: calc(40 * (var(--current-width) / var(--ideal-width)));
  width: 1px;
  background-color: $transparent;
}
.icon {
  font-size: calc(18 * (var(--current-width) / var(--ideal-width)));
}
